@using DataAccessLayer.EntityFramework
@using BusinessLayer.Concrete
@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";

    CategoryManager cm = new CategoryManager(new EfCategoryDal());
    var category = cm.GetCategory(ViewBag.categoryid);

    ContentManager com = new ContentManager(new EfContentDal(), new EfHeadingDal(), new EfWriterDal());
}
<link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

    .center-div {
        font-family: 'Kanit', sans-serif;
        display: flex;
        justify-content: center;
    }

        .center-div .customtext {
            font-size: 40px;
            background: linear-gradient(to left, #572ADE 0%, #12A77F 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        .center-div .customtext2 {
            font-size: 16px;
            background: linear-gradient(to left, #572ADE 0%, #12A77F 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 10px;
        }

    .customtext2 {
        font-size: 16px;
        background: linear-gradient(to left, #572ADE 0%, #12A77F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }


    .ghostcontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 43vh;
        background: #1d1f24;
    }

        .ghostcontainer .ghost {
            position: relative;
            width: 160px;
            height: 200px;
        }

            .ghostcontainer .ghost .bodyy {
                position: relative;
                width: 160px;
                height: 200px;
                border-top-right-radius: 80px;
                border-top-left-radius: 80px;
                background-color: #ebeae1;
                animation: float 4s ease infinite;
            }

                .ghostcontainer .ghost .bodyy .face {
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top: 67px;
                    left: 37px;
                    width: 72px;
                    height: 41px;
                }

                    .ghostcontainer .ghost .bodyy .face .eye {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background-color: #272b24;
                    }

                        .ghostcontainer .ghost .bodyy .face .eye.left {
                            margin-right: 32px;
                        }

                    .ghostcontainer .ghost .bodyy .face .smile {
                        margin-top: 6px;
                        width: 32px;
                        height: 16px;
                        margin-left: 20px;
                        border-bottom-left-radius: 16px 12px;
                        border-bottom-right-radius: 16px 12px;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                        background-color: #272b24;
                    }

                    .ghostcontainer .ghost .bodyy .face .rosy {
                        position: absolute;
                        top: 28px;
                        width: 22px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: #ffaa9e;
                    }

                        .ghostcontainer .ghost .bodyy .face .rosy.left {
                            left: -6px;
                            transform: rotate(-8deg);
                        }

                        .ghostcontainer .ghost .bodyy .face .rosy.right {
                            right: -6px;
                            transform: rotate(8deg);
                        }

                .ghostcontainer .ghost .bodyy .arm {
                    position: absolute;
                    top: 136px;
                    width: 60px;
                    height: 40px;
                    background-color: #f0efda;
                }

                    .ghostcontainer .ghost .bodyy .arm.left {
                        left: -4px;
                        border-radius: 60% 100%;
                        animation: arms-left 4s ease infinite;
                    }

                    .ghostcontainer .ghost .bodyy .arm.right {
                        right: -65px;
                        border-radius: 100% 60%;
                        animation: arms-right 4s ease infinite;
                    }

                .ghostcontainer .ghost .bodyy .bottom {
                    display: flex;
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    right: -1px;
                }

                    .ghostcontainer .ghost .bodyy .bottom div {
                        flex-grow: 1;
                        position: relative;
                        top: -14px;
                        height: 28px;
                        border-radius: 100%;
                        background-color: #ebeae1;
                    }

                        .ghostcontainer .ghost .bodyy .bottom div:nth-child(2n) {
                            top: -10px;
                            margin: 0 -2px;
                            border-top: 10px solid #f0efda;
                            background: transparent;
                        }

            .ghostcontainer .ghost .shadow {
                position: absolute;
                bottom: -100px;
                left: 50%;
                width: 200px;
                height: 12px;
                border-radius: 100%;
                background-color: #191d18;
                animation: shadow 4s ease infinite;
            }

    @@keyframes float {
        0%, 100% {
            top: 0px;
        }

        40% {
            top: -40px;
        }
    }

    @@keyframes arms-left {
        0%, 100% {
            transform: translate(-50%, -50%) rotate(50deg);
        }

        40% {
            transform: translate(-50%, -50%) rotate(40deg);
        }
    }

    @@keyframes arms-right {
        0%, 100% {
            transform: translate(-50%, -50%) rotate(-50deg);
        }

        40% {
            transform: translate(-50%, -50%) rotate(-40deg);
        }
    }

    @@keyframes shadow {
        0%, 100% {
            transform: translateX(-50%) scale(1);
        }

        40% {
            transform: translateX(-50%) scale(0.5);
        }
    }

    p {
        margin-inline: 30px;
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
    }

    table {
        font-family: 'Kanit', sans-serif;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i style="font-size:22px;" class="fas fa-heading"></i></li>
                    <li style="margin-left:10px"><h1 class="m-0"> Heading's</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="row">
    <section class="col-md-4">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card" style="background-color: #181A1F; color: #9FA0A2; max-height: 83vh; border-radius: 30px; ">
            <div class="card-body scrollbar" id="style-7" style=" height: 100%; overflow-y: auto; overflow-x: hidden;margin-block:20px;">
                <div class="center-div">
                    <div class="customtext">Headings</div>
                    <div class="customtext2"> (@Model.Count)</div>
                </div>
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-borderless table-hover table-dark dataTable dtr-inline projects" role="alertdialog" aria-describedby="example1_info" style="background-color: #181A1F; color: #9FA0A2;">
                                <thead>
                                    <tr role="row">
                                        <th style="" class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="HeadingDate: activate to sort column descending" aria-sort="ascending"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        int count = com.GetListByHeadingId(item.HeadingID).Count();
                                        if ((Model.IndexOf(item)) % 2 == 0)
                                        {
                                            <tr role="row" class="odd">
                                                @if (item.HeadingImage != null)
                                                {
                                                    <td style="">
                                                        <div class="row">
                                                            <div class="col-md-2" style=" display: grid; place-items: center;padding:0;">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID">
                                                                    <img style="max-height: 50px; max-width: 50px; border-radius: 5px; " alt="Avatar" class="" src="@Url.Action("GetImageHeading", "DictionaryPanel", new { id = item.HeadingID })">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <a style="color: #d0d2d6" href="/DictionaryPanelContent/Index/@item.HeadingID">@item.HeadingName</a>
                                                                <br />
                                                                <small style="cursor:default;">
                                                                    Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))
                                                                </small>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID"><span class="badge bg-indigo" style="">@count</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                                @if (item.HeadingImage == null)
                                                {
                                                    <td style="">
                                                        <div class="row">
                                                            <div class="col-md-11">
                                                                <a style="color: #d0d2d6" href="/DictionaryPanelContent/Index/@item.HeadingID">@item.HeadingName</a>
                                                                <br />
                                                                <small style="cursor:default;">
                                                                    Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))
                                                                </small>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID"><span class="badge bg-indigo" style="">@count</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr role="row" class="even">
                                                @if (item.HeadingImage != null)
                                                {
                                                    <td style="">
                                                        <div class="row">
                                                            <div class="col-md-2" style=" display: grid; place-items: center;padding:0;">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID">
                                                                    <img style="max-height: 50px; max-width: 50px; border-radius: 5px; " alt="Avatar" class="" src="@Url.Action("GetImageHeading", "DictionaryPanel", new { id = item.HeadingID })">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <a style="color: #d0d2d6" href="/DictionaryPanelContent/Index/@item.HeadingID">@item.HeadingName</a>
                                                                <br />
                                                                <small style="cursor:default;">
                                                                    Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))
                                                                </small>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID"><span class="badge bg-indigo" style="">@count</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                                @if (item.HeadingImage == null)
                                                {
                                                    <td style="">
                                                        <div class="row">
                                                            <div class="col-md-11">
                                                                <a style="color: #d0d2d6" href="/DictionaryPanelContent/Index/@item.HeadingID">@item.HeadingName</a>
                                                                <br />
                                                                <small style="cursor:default;">
                                                                    Created: @(((DateTime)item.HeadingDate).ToString("dd MMM yyyy HH:mm"))
                                                                </small>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a href="/DictionaryPanelContent/Index/@item.HeadingID"><span class="badge bg-indigo" style="">@count</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-md-8">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card" style="background-color: #181A1F; color: #9FA0A2; height: 83vh; border-radius: 30px; ">
            <div class="card-body scrollbar" id="style-7" style=" height: 100%; overflow-y: auto; overflow-x: hidden; margin-block: 20px; ">
                <div class="center-div">
                    <div class="customtext">@category.CategoryName</div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @*@Html.Action("addContentPartial", "DictionaryPanelContent", new { id = ViewBag.headingid })*@
                    <div class="center-div">
                        <a class="btn btn-dark custom-button scroll" href="#addcontent" style="background-color: #12A77F;color:white;width:180px;">
                            <i class="fas fa-pen" style="margin-right:5px;"></i> Create heading
                        </a>
                    </div>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <div style="background-color: #1d1f24; color: #9FA0A2; margin: 20px; border-radius: 30px;padding:15px;">
                        <div style="margin-block:40px;position:relative">
                            <p> Unfortunately, you cannot create a heading without logging in, this privilege is for members only. Yes, it's a privilege to join us 👻</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="display: grid; place-items: center; height: 100%; max-width: 100%;">
                                    <p>  If you already have an account, Sign in now!</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="ghostcontainer">
                                    <div class="ghost">
                                        <div class="bodyy">
                                            <div class="face">
                                                <div class="eye left"></div>
                                                <div class="eye right"></div>
                                                <div class="smile"></div>
                                                <div class="rosy left"></div>
                                                <div class="rosy right"></div>
                                            </div>

                                            <div class="arm left">
                                                <a class="btn" href="/Login/WriterLogin" style="background-color: #12A77F;color:white;width:80px;">
                                                    Sign in
                                                </a>
                                            </div>
                                            <div class="arm right">
                                                <a class="btn" href="/DictionaryPanel/Signup" style="background-color: #572ADE;color:white;width:80px;">
                                                    Sign up
                                                </a>
                                            </div>
                                            <div class="bottom">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="shadow"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="display: grid; place-items: center; height: 100%; max-width: 100%;margin-left:20px;">                                  
                                    <p>If you are not a member, you can Sign up here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            if (!$.browser.webkit) {
                $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
            }
        });
    </script>
    <script>
        var copyButtons = document.querySelectorAll(".copy-button");

        copyButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var entryLinkInput = this.parentNode.querySelector(".entry-link");
                var entryLink = entryLinkInput.value;

                copyToClipboard(entryLink);

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Content link copied.'
                })
            });
        });

        function copyToClipboard(text) {
            var tempInput = document.createElement("input");
            tempInput.value = text;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    </script>

    <script>
        $(document).ready(function () {
            var textarea = $("#ContentCaption");
            var charCount = $("#charCount");

            textarea.on("input", function () {
                var textLength = textarea.val().length;
                charCount.text(textLength + "/1000");
            });
        });
    </script>

    <script>
    $(document).ready(function() {
        $('#myForm').submit(function(event) {
            event.preventDefault(); // Form submitini engelle

            $.ajax({
                url: $(this).attr('action'), // Formun action'ını al
                type: $(this).attr('method'), // Formun methodunu al
                data: $(this).serialize(), // Form verilerini al ve ajax isteği ile gönder
                success: function(response) {
                    Swal.fire({
                        title: 'Added!',
                        text: 'The Heading was added successfully.',
                        icon: 'success'
                    }).then(() => {
                         var redirectUrl = '@Url.Action("Index", "DictionaryPanelHeading")';
                    window.location.href = redirectUrl;
                    });
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        title: status + '!',
                        text: 'An error occurred, Heading could not be added. Please make sure that this field is not blank or less than 3 characters!' + error,
                        icon: 'error'
                    });
                }
            });
        });
    });
    </script>
}
